*{
    font-family: "Montserrat", sans-serif;
}
.slider {
    position: relative;
    z-index: 1;
    background-color: #ffffff;
    overflow: hidden; 
}

.slider .nav-tabs .nav-item .nav-link.active {
    background-color: #2b9f9f;
}

#myTab{
    border: none;
}

.slider .nav-tabs .nav-item .nav-link {
    background-color: #a7a7a5;
    color: #fff;

    border-radius: 0;
    border: none; 
    
    width: 50vh;
    height: 10vh;
}

.nav-link{
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight:bold ;
    font-size: 20px;
    text-align: center;
}

@media only screen and (max-width: 767px) {
    .slider .nav-tabs .nav-item .nav-link {
        padding: 0 20px;
        height: 42px;
        line-height: 42px;
        font-size: 12px;
        border: none;
    } 
}

.topografia-slideshow, .rpa-slideshow{
    position: relative;
    z-index: 1; 
    background-color: #54b1b2;
    margin-top: 10vh;
}

.single-slide{
    position: relative;
    z-index: 1;
    border-left: 5vh solid #54b1b2;
}
.single-slide, .col{
    margin: 0;
    padding: 0;
}

.single-slide h1{
    position: absolute;
    color:#fff;
    font-size: 25vh;
    font-weight: bolder;
    top: 30vh;
    padding: 5vh;

    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color:#ffff;
    font-size: 25vh; color: #fffdd900;

}

.single-slide h3{
    position: absolute;
    color:#fff;
    font-size: 20px;
    font-weight: bold;
    top: 55vh;
    padding: 7vh;
}

.non-img h1{
    position: absolute;
    color:#fff;
    font-size: 25vh;
    top: -5vh;
    font-weight: bolder;

    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color:#ffff;
    font-size: 25vh; color: #fffdd900;

}

.non-img h3{
    position: absolute;
    color:#fff;
    font-size: 20px;
    font-weight: bold;
    top: 20vh;
}

.non-img p{
    position: absolute;
    color:#b0b0b0;
    font-size: 15px;
    top: 25vh;
    padding: 7vh;
}


    .topografia-slideshow .owl-prev,
    .topografia-slideshow .owl-next,
    .rpa-slideshow .owl-prev,
    .rpa-slideshow .owl-next,
    .editor-games-slideshow .owl-prev,
    .editor-games-slideshow .owl-next {
      position: absolute;
      width: 60px;
      height: 60px;
      top: 50%;
      margin-top: -30px;
      font-size: 16px;
      color: #ffffff;
      background-color: rgba(13, 13, 13, 0.7);
      left: 22%;
      text-align: center;
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
      line-height: 60px; 
    }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .topografia-slideshow .owl-prev,
        .topografia-slideshow .owl-next,
        .rpa-slideshow .owl-prev,
        .rpa-slideshow .owl-next{
          left: 15%; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .topografia-slideshow .owl-prev,
        .topografia-slideshow .owl-next,
        .rpa-slideshow .owl-prev,
        .rpa-slideshow .owl-next{
          left: 15%; } }
      @media only screen and (max-width: 767px) {
        .topografia-slideshow .owl-prev,
        .topografia-slideshow .owl-next,
        .rpa-slideshow .owl-prev,
        .rpa-slideshow .owl-next {
          left: 5%;
          width: 40px;
          height: 40px;
          margin-top: -20px;
          line-height: 40px; } }
      .topografia-slideshow .owl-prev:hover,
      .topografia-slideshow .owl-next:hover,
      .rpa-slideshow .owl-prev:hover,
      .rpa-slideshow .owl-next:hover{
        background-color: #20d8da;
        color: #ffffff; }
    .topografia-slideshow .owl-next,
    .rpa-slideshow .owl-next {
      left: auto;
      right: 22%; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .topografia-slideshow .owl-next,
        .rpa-slideshow .owl-next{
          right: 15%; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .topografia-slideshow .owl-next,
        .rpa-slideshow .owl-next{
          right: 15%; } }
      @media only screen and (max-width: 767px) {
        .popular-games-slideshow .owl-next,
        .rpa-slideshow .owl-next{
          right: 5%; } }
  
  .left-right-pattern {
    position: relative;
    z-index: 6000; }
    .left-right-pattern::after {
      position: absolute;
      width: 100%;
      height: 2000px;
      top: -500px;
      left: 1110px;
      content: '';
      background-color: rgba(14, 14, 14, 0.8);
      background-image: url(img/core-img/pattern.png);
      z-index: 6000; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .left-right-pattern::after {
          left: 930px; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .left-right-pattern::after {
          left: 690px; } }
      @media only screen and (max-width: 767px) {
        .left-right-pattern::after {
          display: none; } }
    .left-right-pattern::before {
      position: absolute;
      width: 100%;
      height: 2000px;
      top: -500px;
      left: -1110px;
      content: '';
      background-color: rgba(14, 14, 14, 0.8);
      background-image: url(img/core-img/pattern.png);
      z-index: 6000; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .left-right-pattern::before {
          left: -930px; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .left-right-pattern::before {
          left: -690px; } }
      @media only screen and (max-width: 767px) {
        .left-right-pattern::before {
          display: none; } }